<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon"  href="../static/images/hey.png"type="image/png">
  <title>#CovoiApp</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="../static/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/css-circular-prog-bar.css">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              #CovoiApp
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/trajet"> Publish your ad </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="/create"> Create an account</a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="/login"> Login </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1>
            Best way                   
            to find  
            road
            partners 
          </h1>
          <p>
            #CovoiApp is a carpooling network. We connect passengers and drivers ready to share their car journey to allow them to go everywhere.
          </p>
          <div class="hero_btn-continer">
            <a href="trajet.html" class="call_to-btn btn_white-border">
              Publish your ad
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="../static/images/hero3.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- client section -->
    <section class="client_section layout_padding">
      <h2 class="">
        Go anywhere you want. From where you want.
      </h2>
      <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/1.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Find the best carpoolers
                            </h5>  
                            <p>
                              With personalized route entry, find carpoolers on your route, with a minimum of detour.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/2.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Carpool even on variable hours
                            </h5>
                            <p>
                              Carpool even if you don't finish every day at the same time.
                              Just notify the community when you want to leave.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/3.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Share your fees fairly
                            </h5>
                            <p>  
                              #CovoiApp automatically calculates the costs of your journeys. at any time, you know how much everyone should.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
       
      </div>
    </section>

    <!-- end client section -->

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="../static/images/no.gif" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                The economic aspect
              </h3>
              <p>
                Indeed, carpooling will allow you to greatly reduce your costs related to your car journeys (petrol, wear of the car, ...). In the case of alternate carpooling (several drivers who drive alternately) you can divide your travel costs by as many drivers who participate in carpooling. In the case of a carpooling with participation (The passengers participate financially in the journeys), there again we will observe a clear reduction in the costs generated by the use of your car.
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                A gesture for ecology
              </h3>
              <p>
                Car sharing is a practice that significantly reduces the number of cars on the roads. The first consequence is the reduction in pollution and the emission of greenhouse gases. This also allows the reduction of consumption of non-renewable energy such as petroleum.
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="../static/images/6th.gif" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->

    <!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="../static/images/why.gif" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Faster journeys
              </h3>
              <p>
                Thanks to the reduction in the number of cars traveling at the same time, traffic jams and other delays at the entrances to cities during peak hours will be significantly reduced. Parking problems will also be improved as fewer vehicles will need to park.
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->

    <!-- determine section -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                A more user-friendly route
              </h3>
              <p>
                Car sharing also cuts car journeys with monotony when you are alone behind the wheel of your car. Car sharing can become an opportunity to meet and
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <img src="../static/images/admission.gif" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end determine section -->

  </div>





    <!-- contact section -->

    <section class="contact_section ">

        <div class="container">
         
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex justify-content-center d-md-block">
                <h2>
                  Contact Us
                </h2>
              </div>
              <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder="Name">
                    </div>
                    <div>
                      <input type="email" placeholder="Email">
                    </div>
                    <div>
                      <input type="text" placeholder="Phone Number">
                    </div>
                    <div class="mt-5">
                      <input type="text" placeholder="Message">
                    </div>
                    <div class="mt-5">
                      <button type="submit">
                        send
                      </button>
                    </div>
                  </div>
    
                </div>
    
              </form>
            </div>
            <div class="col-md-6">
              <div class="contact_img-box">
                <img src="../static/images/students.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end contact section -->
      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
              Covoiturage
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                  #CovoiApp is a carpooling network. We connect passengers and drivers ready to share their car journey to allow them to go everywhere. 
               </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                    #CovoiApp your partner for daily carpooling all over Tunisia.
                    A site dedicated to carpooling during the week and at weekends. 
                </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Useful Link 
                </h5>
                <ul>
                  <li>
                    <a href="">
                        Our team
                    </a>
                  </li>
                  <li>
                   <a href="">
                      Declare a complaint
                   </a>
                  </li>
                  <li>
                    <a href="legelinfo.html">
                        Legal information
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
           
                <div class="subscribe_container">
                  <h5>
                      Recieve News
                  </h5>
                  <div class="form_container">
                    <form action="">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                 
                  <div class="social-box">
                    <a href="">
                      <img src="../static/images/fb.png" alt="">
                    </a>
      
                    <a href="">
                      <img src="../static/images/twitter.png" alt="">
                    </a>
                    <a href="">
                      <img src="../static/images/linkedin.png" alt="">
                    </a>
                    <a href="">
                      <img src="../static/images/instagram.png" alt="">
                    </a>
                  </div>
                </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved To
      <a href="index.html">#CovoiApp</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

 
</body>

</html>