<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon"  href="../static/images/hey.png"type="image/png">
  <title>#CovoiApp</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="../static/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/css-circular-prog-bar.css">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              #CovoiApp
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/trajet"> Publish your ad </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="/create"> Create an account</a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="/login"> Login </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h5><b>
              Hello Mourad, <br>
              You will pick in your path to Sfax Sahar, Sonia and Mohamed.
              <br>
              You should start your journey at 7:30 PM so you can arrive 
              for each of the other passengers in time. <br>
              Hope you'll enjoy your journey with the group we picked for you.<br></b>
          </h5>
          <br>

          <div class="hero_btn-continer">
            <a href="trajet.html" class="call_to-btn btn_white-border">

              Send me all informations by mail
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <center>
          <div>
            <h4 style="color: #EA0034"><b>Sahar Frikha</b></h4>
            <h5 style="color: #0288D9; ">
               DEPARTURE ADDRESS : Ariana<br>
               DEPARTURE TIME : 8:00  <br>           
               Phone Number : +216 52 972 724 <br>
               Mail : mouradfrikha96@gmail.com
            </h5>
            <h4 style="color: #EA0034"><b>Sonia Mrabet</b></h4>
            <h5 style="color: #0288D9; ">
               DEPARTURE ADDRESS : Lac2<br>
               DEPARTURE TIME : 8:30 <br>
               Phone Number : +216 24 546 973 <br>
               Mail : mouradfrikha96@gmail.com
            </h5> 
            <h4 style="color: #EA0034"><b>Mohamed Kchaou</b></h4>  
            <h5 style="color: #0288D9; ">
               DEPARTURE ADDRESS : Rue Mohamed 5<br>
               DEPARTURE TIME : 8:45 <br>
               Phone Number : +216 24 546 973 <br>
               Mail : mouradfrikha96@gmail.com
            </h5>    
          </div>
          </center>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- client section -->
    <section class="client_section layout_padding">
      <h2 class="">
        Go anywhere you want. From where you want.
      </h2>
      <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/1.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Find the best carpoolers
                            </h5>  
                            <p>
                              With personalized route entry, find carpoolers on your route, with a minimum of detour.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/2.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Carpool even on variable hours
                            </h5>
                            <p>
                              Carpool even if you don't finish every day at the same time.
                              Just notify the community when you want to leave.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="../static/images/3.PNG" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Share your fees fairly
                            </h5>
                            <p>  
                              #CovoiApp automatically calculates the costs of your journeys. at any time, you know how much everyone should.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
       
      </div>
    </section>



  </div>





      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
              Covoiturage
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                  #CovoiApp is a carpooling network. We connect passengers and drivers ready to share their car journey to allow them to go everywhere. 
               </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                    #CovoiApp your partner for daily carpooling all over Tunisia.
                    A site dedicated to carpooling during the week and at weekends. 
                </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Useful Link 
                </h5>
                <ul>
                  <li>
                    <a href="">
                        Our team
                    </a>
                  </li>
                  <li>
                   <a href="">
                      Declare a complaint
                   </a>
                  </li>
                  <li>
                    <a href="legelinfo.html">
                        Legal information
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
           
                <div class="subscribe_container">
                  <h5>
                      Recieve News
                  </h5>
                  <div class="form_container">
                    <form action="">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                 
                  <div class="social-box">
                    <a href="">
                      <img src="../static/images/fb.png" alt="">
                    </a>
      
                    <a href="">
                      <img src="../static/images/twitter.png" alt="">
                    </a>
                    <a href="">
                      <img src="../static/images/linkedin.png" alt="">
                    </a>
                    <a href="">
                      <img src="../static/images/instagram.png" alt="">
                    </a>
                  </div>
                </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved To
      <a href="index.html">#CovoiApp</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

 
</body>

</html>